
// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';
@import 'tables';
@import 'minitables';
@import 'rammotors';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}
.login-button {
  width: 40px;
  background-color: silver;
  border: 1px dotted gray;
  border-radius: 45%;
  margin-left: 60%;
}
