.focus{
    position: fixed;
    top: 0;
    height: 100vh;
    width: 100%;
    background-color: rgba(0,0,0,0.7);
    z-index: 1000;
    display: block;


}
.focus-field {
    position:relative;
    margin: 200px auto;
    
    height: 395px;
    opacity: 1;
    background-color: rgba(0,0,0,0);
    
}
.focus-form-select-button{
    border-radius: 50% 20%;
    height: 45px;
    background-color: $secondary;
    color: $main;
    font-weight: bold;
    border-color: $main;
    margin-top:10px;
    margin-bottom:40px;
    box-shadow: black 2px 2px 12px;

}
.focus-work-area {

    background-color: $main;
    width: 1200px;
    height: 620px;
    margin: 0 auto;
    display: flex;

}
.focus-remove {
background-color: black;
border-radius: 50%;
color: $light;
margin-left: auto;
width: 50px;
height: 50px;
font-size: 1.4em;
box-shadow: black 2px 2px 12px;
margin-top: 10px;
}
.focus-header{
    color: darkred;
    font-size: 2.7em;
}
.focus-list-item{
    background-color: $main;
    color: $light;
    border-radius: 0% 50% 50% 0%;
    display: flex;
    font-size: 1.5em;
    margin-bottom: 15px;
    padding-left: 20px;
    box-shadow: black 2px 2px 12px;

}
.focus-list-item-big{
    background-color: wheat;
    border: 2px solid darkred;
    color: darkred;
    font-size: 2em;
    border-radius: 50%;
    box-shadow: black 2px 2px 12px;
    text-align: center;
    margin-bottom: 50px;
    padding: 5px;
}
.focus-list-item-big:hover {
    box-shadow: none; 
}
.focus-list-item:hover {

    box-shadow: none;
}

.closing-div {
    background-color: black;
    color: $light;
    border-radius: 50%;
    z-index:990;
    font-size:1.4em;
    margin-left: auto;
    position: relative;
    right: 50px;
    top: 20px;
    width: 30px;
    height: 30px;
    text-align: center;
    overflow: hidden;
    padding: 0;
}
.Dark {
    background-color: black;
    border: 2px solid darkorange;
    color: darkorange;
    border-radius: 50%;
    box-shadow: darkred 2px 2px 12px;

}