.rammotors {
    width: 1400px;
    height: 785px;
    background-image: url("/images/rammotors-tlo1.jpg");
    background-size: cover;
    margin: 0;
}
.rammotors-row {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 1400px;
    height:70%;
    margin:0px auto;
    padding: 20px 5px;
    box-sizing: border-box;

    
}
button:hover {
    box-shadow: none;
}