.wrapper {
    width: 1400px;
    height: 380px;
    font-size:1.8em;
}
.workfield {
    width: 1400px;
    height: 370px;
    align-items: center;
    border-radius: 5%;
    box-shadow: red 2px 2px 18px 3px;
    letter-spacing: 4px;
    overflow: hidden;
}
.header {
    display: flex;
    flex-direction: row; 
    background-color: darkred;
    width: 100%;
    height: 35px;
    justify-content: space-around;
}

.header-item {
    width: 280px;
    max-width: 280px;
    height: 30px;
    background-color: darkred;
    color: wheat;
    text-align: center;

}
.table-container {
    overflow-y: auto;
    height: 250px;
}

.table-body {
    box-sizing: border-box;
    text-align: center;
    width: 100%;
}
.table-head {
    display: none;
}
.table-data{
    background-color: lighten($tablehead, 10%);
    color:white;
}
.table-item  {
    width: 280px;
    max-width: 280px;
    padding: 15px;
    box-sizing: border-box;
    word-break: break-all;
}




.table-data-row:nth-child(odd) {
    background-color: lighten($tablehead, 20%);
}

.under-table-field{
  
    flex-direction: column;
}

.search-input {
    padding-left:80px;

    width: 60%;
    height: 55px;
}
.under-table-button {
    height: 55px;
    width: 20%;
    background-color: darkred;
    color: white;
    border: none;
}
#style-1::-webkit-scrollbar {
    width: 6px;
    background-color: #F5F5F5;
} 
#style-1::-webkit-scrollbar-thumb {
    background-color: #000000;
}
#style-1::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background-color: #F5F5F5;
}

