.table-container {
    width: 80%;
    overflow: hidden;
    border:solid 2px black; 
}
.table-head {
    background-color: darkblue;
    color: white;
    border-radius: 45%;
    width: 50px;
    margin: 8px;
}
.table-data{
    margin: 8px;
}